<div class="grilleTableJeu">
    <div class="titL1">
      {{ titL1 }}
    </div>
    <enjeu-table-profil class="profil"></enjeu-table-profil>
    <div class="titL2">
      {{ titL2 }}
    </div>
    <enjeu-table-personnage class="perso"></enjeu-table-personnage>
    <enjeu-table-head class="tableHead"></enjeu-table-head>
    <enjeu-table-chat class="chat"></enjeu-table-chat>
    <div class="titR">
      {{ titR }}
    </div>
    <enjeu-table-tuto class="tuto"></enjeu-table-tuto>
    <enjeu-table-aventure class="aventure"></enjeu-table-aventure>
    <enjeu-table-donjon class="donjon"></enjeu-table-donjon>
</div>
