:host {
  // height: 90vh; //à virer, puis régler la taille de l'appli
  display: block;
  background-image: url("src/assets/img/background/table01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
body {
  // height: 100%;
  // width: 100%;
  margin: 0;
  padding: 0;
}
/*Grille*/
.grilleTableJeu {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-gap: 1%;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
  "contL1 contC contR1"
  "contL2 contC contR2"
  "contL2 contC contR3";
}
/*Elements de la grille*/
/*Left*/
.profil {
  grid-area: contL1;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
.perso {
  grid-area: contL2;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
/*Center*/
.aff {
  grid-area: contC;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-self: center;
}
/*right*/
.aventure {
  grid-area: contR1;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
.donjon {
  grid-area: contR2;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
.tuto {
  grid-area: contR3;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
