<div class="container bGround">
  <div class="wrapper">
    <div class="row enTete text-left">
      <h3>Personnage</h3>
    </div>
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Principal">
          <enjeu-personnage-main></enjeu-personnage-main>
        </mat-tab>
        <mat-tab label="Menu">
          <enjeu-personnage-menu></enjeu-personnage-menu>
        </mat-tab>
        <mat-tab label="Création">
          <enjeu-personnage-create></enjeu-personnage-create>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
