.enTete {
  padding-left: 6%;
}
/*Material Tabs*/
.mat-tab-group {
  text-align: center;
  width: 100%;
  color: white;
}
.mat-tab-body-wrapper {
  color: white;
}
.mat-tab {
  color: white;
}
.mat-tab-label {
  color: white;
}
.mat-tab-label-active {
  background-color: rgba(218,165,32,0.5);
}
.mat-tab-label:hover {
  background-color: rgba(32,165,218,0.3);
}
/*Image joueur*/
img {
  height: 40px;
}
table {
  width: 100%;
  background-color: rgba(218,165,32,0);
}
