.grilleLeft {
  height: 100%;
  width: 100%;
  padding: 1%;
  display: grid;
  align-items: center;
  grid-gap: 1%;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas:
  "topL"
  "botL";
}
.topLeft {
  grid-area: topL;
  max-width: 25vw;
  text-align: center;
  justify-self: center;
}
.botLeft {
  grid-area: botL;
  max-width: 25vw;
  text-align: center;
  justify-self: center;
}
