/*Grille*/
.grilleTableJeu {
  height: 100%;
  width: 100%;
  padding: 1%;
  display: grid;
  align-items: center;
  grid-gap: 1%;
  grid-template-columns: 25vw 1fr 25vw;
  grid-template-areas:
  "contL1 contC contR1"
  ". contC contR2"
  "contL2 contC contR3";
}
/*Elements de la grille*/
/*Left*/
.profil {
  grid-area: contL1;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
.perso {
  grid-area: contL2;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
/*Center*/
.aff {
  grid-area: contC;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-self: center;
}
/*right*/
.aventure {
  grid-area: contR1;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
.donjon {
  grid-area: contR2;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
.tuto {
  grid-area: contR3;
  height: 100%;
  width: 80%;
  text-align: center;
  justify-self: center;
}
