.grilleLeft {
  padding: 1%;
  display: grid;
  align-items: center;
  grid-gap: 1%;
  grid-template-areas:
  "topC"
  "botC";
}
.topCard {
  grid-area: topC;
  max-width: 25vw;
  text-align: center;
  justify-self: center;
}
.botCard {
  grid-area: botC;
  max-width: 25vw;
  text-align: center;
  justify-self: center;
}
