.grilleRight {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  grid-gap: 1%;
  grid-auto-rows: repeat(3,1fr);
  grid-template-areas:
  "topR"
  "midR"
  "botR";
}
.topRight {
  grid-area: topR;
  width: 100%;
  text-align: center;
  justify-self: center;
}
.midRight {
  grid-area: midR;
  width: 100%;
  text-align: center;
  justify-self: center;
}
.botRight {
  grid-area: botR;
  width: 100%;
  text-align: center;
  justify-self: center;
}
