<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <p><img class=" img-fluid" src="../../../../assets/img/icons/mdjIcone.jpg" alt="card image Profile"></p>
                <p class="card-text">Nom utilisateur</p>
                <p class="card-text">email</p>
                <p class="card-text">Date dernière co</p>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center">
                <p class="card-text">Statistiques</p>
                <p class="card-text">Nbr de perso actifs</p>
                <p class="card-text">Nbr de parties jouées(tuto)</p>
                <p class="card-text">Nbr de parties jouées(donjon)</p>
                <p class="card-text">Nbr de parties jouées(aventure)</p>
                <p class="card-text">Nbr de compagnons</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
