<div class="container bGround">
  <div class="wrapper">
    <div class="row enTete">
      <div class="col-md-2">
        <img src='../../../../assets/img/icons/mdjIcone.jpg'>
      </div>
      <div class="col-md-10 text-left">
        <h3>{{ nomJoueur }}</h3>
      </div>
    </div>
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Informations">
          <enjeu-profil-infos></enjeu-profil-infos>
        </mat-tab>
        <mat-tab label="Statistiques">
          <enjeu-profil-stats></enjeu-profil-stats>
        </mat-tab>
        <mat-tab label="Compagnons">
          <enjeu-profil-friends></enjeu-profil-friends>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
