<div class="container">
  <table mat-table [dataSource]="dataFriends">
    <!-- propriété Column -->
    <ng-container matColumnDef="propriete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.propriete}} </td>
    </ng-container>
    <!-- valeur Column -->
    <ng-container matColumnDef="valeur">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.valeur}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: friendsColumns;"></tr>
  </table>
</div>
