<div class="row text-center justify-content-center authBackGround">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Nouveau Joueur</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text"
               id="emailUp"
               class="form-control"
               formControlName="email"
               placeholder="Adresse mail">
      </div>
      <div class="form-group">
        <input type="passwordUp"
               id="password"
               class="form-control"
               formControlName="password"
               placeholder="Mot de passe">
      </div>
      <button class="btn btn-primary"
              type="submit"
              [disabled]="signUpForm.invalid">Créer un compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
